.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container:first-child > .row{
    box-shadow: 0 -2px 0 #F0F3F5;
}

.container:last-child > .row{
    box-shadow: 0 2px 0 #F0F3F5;
}

.row {
    display: flex;
    /* width: 100%; */
}


.container::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 1px * 100%;
}
.container::after { /* to clear float */
    content: "";
    display: table;
    clear: both;
}