.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 67%;
    height: 100%;
    outline: 1.5px #cecece solid;
}


@media only screen and (max-width: 1000px) {
    .container{
        width: 100%;
        height: auto;
        padding: 2.5% 0;
        outline: none;
        justify-content: inherit;
        border-bottom: 1.5px #cecece solid;;
    }
}